:root{
    --dark_theame: black;
    --light_theme: white;
    --dark_primary: teal;
    --dark_secondary: rgb(23, 184, 184);
    --dark_tertiary: rgb(10, 233, 233);
    --light_primary: rgb(3, 164, 228);
    --light_secondary: rgb(37, 193, 255);
    --light_tertiary: rgb(168, 230, 255);
}

*{
    margin:0px;
    padding: 0px;
    font-family: 'Bebas Neue', cursive;
}
html{
    background-color: var(--dark_theame);
}
html.light{
    background-color: var(--light_theme);
}
#container{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
}
/* The central main container */
#center_container{
    flex:3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header_text{
    font-size: 50px;
    text-align: center;
    color: var(--dark_primary);
    margin-top: 15px;
    max-height: 66px;
    overflow: hidden;
}
#header_text.light{
    color: var(--light_primary);
}
#vid{
    position: relative;
    width: 80%;
    height: 60%;
    margin-top: 20px;
}
#nav_container{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#nav_container button{
    background-color: var(--dark_primary);
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    font-size: 25px;
    margin: 15px;
    padding: 10px;
}
#nav_container button.light{
    background-color: var(--light_primary);
}
#nav_left, #nav_right{
    display: none;
}
#nav_container button:hover{
    background-color: var(--dark_secondary);
    transition: 0.3s ease;
}
#nav_container button.light:hover{
    background-color: var(--light_secondary);
}
.hiddenInputTag{
    display: none;
    width: 0px;
    height: 0px;
}


/* The central right container ---- A navigator window that keeps all the loaded files */

#right_container{
    background-color: var(--dark_theame);
    flex: 1;
    overflow-y: scroll;
    height: 100vh;
}
#right_container.light{
    background-color: var(--light_theme);
}
#nav_area{
    padding:5px;
    margin:20px 5px 0px 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#nav_area a{
    text-decoration: none;
    color: black;
}
#nav_area li{
    background-color: var(--dark_primary);
    width: 100%;
    height:50px;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size:20px ;
}
#nav_area li.light{
    background-color: var(--light_primary);
}
#nav_area span{
    margin-left: 10px;
    flex:5;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}
#nav_area button {
    flex: 1;
    background-color: inherit;
    border:none;
    font-size: 20px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
#nav_area button:hover{
    background-color: var(--dark_tertiary);
    transform: scale(1.1);
    transition: 0.3s ease;
}
#nav_area button.light:hover{
    background-color: var(--light_tertiary);
}
#nav_area li:hover{
    background-color: var(--dark_secondary);
    transform: scale(1.045);
    transition: 0.08s ease;
    overflow: hidden;
}
#nav_area li.light:hover{
    background-color: var(--light_secondary);
}
footer{
    border: 0;
    left: 0;
}

@media screen and (max-width: 800px){
    #container{
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #center_container{
        flex:1;
    }
    #right_container{
        flex: 1;
        overflow-y: auto;
        overflow-x: scroll;
    }
    #nav_area{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #nav_area li{
        width: 20%;
        margin: 5px;
    }
}